---
name: release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build linux package
        run: ./package.sh linux
      - name: Create release
        uses: actions/create-release@v1
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          prerelease: false
          tag_name: ${{ github.ref }}
          release_name: lzw-eddy ${{ github.ref }}
          body_path: CHANGES.md
      - name: Upload linux package
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./packages/lzw-eddy.linux-x86_64.tar.gz
          asset_name: lzw-eddy.linux-x86_64.tar.gz
          asset_content_type: application/gzip
